name: Sweetener.Extensions.Configuration PR

on:
  pull_request:
    branches: [ main ]
    paths:
    - .github/actions/**
    - .github/workflows/sweetener.extensions.configuration-pr.yml
    - global.json
    - NuGet.config
    - src/*
    - src/Extensions/*
    - src/Extensions/Sweetener.Extensions.Configuration/**
    - src/Extensions/Sweetener.Extensions.Configuration.Test/**
    - src/Shared/**

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Test
        uses: ./.github/actions/dotnet-test
        with:
          project: Sweetener.Extensions.Configuration
          solution: Extensions
          resultsDirectory: ${{ runner.temp }}/TestResults/

      - name: Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          files: ./*/coverage.cobertura.xml
          directory: ${{ runner.temp }}/TestResults/
          flags: Configuration
          fail_ci_if_error: true

  package:
    name: Package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Package
        uses: ./.github/actions/dotnet-pack
        with:
          project: Sweetener.Extensions.Configuration
          solution: Extensions
          buildConfiguration: Release
          pullRequestNumber: ${{ github.event.pull_request.number }}
