name: Sweetener.Extensions.Options.ConfigurationExtensions PR

on:
  pull_request:
    branches: [ main ]
    paths:
    - .github/actions/**
    - .github/workflows/sweetener.extensions.options.configurationextensions-pr.yml
    - global.json
    - NuGet.config
    - src/*
    - src/Extensions/*
    - src/Extensions/Sweetener.Extensions.Options.ConfigurationExtensions/**
    - src/Shared/**

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        uses: ./.github/actions/dotnet-test
        with:
          project: Sweetener.Extensions.Options.ConfigurationExtensions
          solution: Extensions
          resultsDirectory: ${{ runner.temp }}/TestResults

      - name: Analyze
        uses: ./.github/actions/analyze
        with:
          reportPath: ${{ runner.temp }}/TestResults/*/coverage.cobertura.xml
          category: Options.ConfigurationExtensions

  package:
    name: Package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Package
        uses: ./.github/actions/dotnet-pack
        with:
          project: Sweetener.Extensions.Options.ConfigurationExtensions
          solution: Extensions
          buildConfiguration: Release
          pullRequestNumber: ${{ github.event.pull_request.number }}
